*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    margin-top: 60px;
    margin-left: 120px;
    display: flex;
}
.logo{
    line-height: 100px;

}
.wrapper{
    justify-content: center;
    display: flex;
    
}
.search-box{
    width: 50%;
    position: relative;
    line-height: 90px;
    
}
.search-box input[type="text"]{
    width: 400%;
    padding: 5px;
    padding-right: 60px;
    box-sizing: border-box;
    background:       ;
    border: 1px silod gray;
    border-bottom: 2px solid orangered;
    font-size: 18px;
    color: black;
}

.fa-search{
    position: absolute;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    top: 26.5%;
    left: 380%;
    background-color: deepskyblue;
    color: white;
    height: 35px;
    width: 20%;
    
}

.sing{
    margin-left: 600px;
    line-height: 80px;
}
.sing a{
    border: 1px solid black;
    padding: 3px 10px;  
    transition: 1s;
}

.sing a:hover{
    background-color: greenyellow;
}
.fa-shopping-cart{
    margin-right: 50px;
    font-size: 18px;
}

/*-------manu-bar------*/

.manu ul{
    display: flex;
    margin-left: 230px;
    margin-bottom: 2px;
}
.fa-gift{
    color: red;
}
.manu li a{
   color: black;
   font-size: 18px;
   margin-left: 10px; 
   padding: 3px 10px;
   transition: 1s;
}
.manu a.active{
    border: 1px solid dodgerblue;
    border-bottom: 4px solid white;

}
.manu a:hover{
    color: dodgerblue;
}

hr{
    height: 0.5px;
    background-color: dodgerblue;
}


/*--------menu------*/

.navbar{
    padding: 1% 4%;
    text-align: center;
}
.navbar a{
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.dropdown-container{
    display: inline;
    position: relative;
}
.dropdown-content{
    position: absolute;
    top: 30px;
    right: 0px;
    text-align: left;
    display: none;

}
.dropdown-content a{
    display: block;
    background-color: white;
    width: 150px;
    margin-left: 100px;

    
}
.navbar a:hover{
    color: dodgerblue;
}
.dropdown-content a:hover{
    color: orangered;
}
.dropdown-container:hover .dropdown-content{
    display: block;
    
}
.navbar a.active{
    color: orange;
}
a.active2{
    color: lime;
}


/*------banner-img------*/

.body{
    background-color: rgba(0,0,0,0.1)
}

.banner-img{
    margin-left: 100px;
}
.small-img img{
    margin-right: 5px;
    margin-top: 15px;

}

/*-------recenty-------*/

.recently{
    height: 350px;
    width: 86%;
    background-color: white;
    margin-left: 100px;
}
.fa-angle-right{
    float: right;
    font-size: 35px;
    color: black;
    background: rgba(0,0,0,0.3);
    padding: 15px 5px;
    margin-top: 70px;
}
a:hover .fa-angle-right{
    background: rgba(0,0,0,0.4);
}
.fa-angle-left{
    float: left;
    font-size: 35px;
    color: black;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
    padding: 15px 5px;
    margin-top: 70px;
}
a:hover .fa-angle-left{
    background: rgba(0,0,0,0.4);
}
a:hover{
    text-decoration: none;
}

.center{
    position: absolute;
    
}
.card{
    border-radius: 10px;
    background: white;
}
.card{
    width: 150px;
    height: 270px;
    float: left;
    margin-left: 37px;
    margin-top: 15px;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
} 

.card img{
    margin-left: 12px;
}
.card-details{
    position: absolute;
    bottom: -450px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    transition: 0.3s ease-in-out;
}
.card-title{
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    background: transparent;

}

.card:hover .card-details{
    bottom: 0;
}
.card button{
    position: relative;
    top: 40%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

}
.card .btn{
    position: relative;
    top: 90%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.card button:nth-child(1){
    margin: 0px 65px 0px;
    position: sticky;
    width: 100px;
    height: 35px;
    margin-left: 25px;
    background: orange;
    border-radius: 3px;
    border: none;
    transition: transfrom .5s;
}
.card button:nth-child(2){
    margin: 0px 65px 0px;
    position: sticky;
    width: 150px;
    height: 35px;
    margin-left: 0px;
    background: dodgerblue;
    border-radius: 3px;
    border: none;
    transition: transfrom .5s;


}


/*------্কোন বই দেখতে চান-----*/


.option{
    background-color: white;
    height: 176px;
    width: 86%;
    margin-left: 100px;
    margin-top: 15px;
}
h3{
    font-size: 26px;
    margin-top: 20px;
 }
.opnnas{
    float: left;
    margin-top: 10px;
    margin-right: 17px;
    margin-left: 20px;
}
h2{
    font-size: 14px;
}
.opnnas-text{
    text-align: center;
    margin-top: -60px;
}

/*-------sl-manu-----*/


.manus{
    height: 150px;
    width: 86%;
    margin-left: 100px;
    margin-top: 15px;
}
.manu-slid{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 15px;
    border: 1px solid dodgerblue;
    background-color: rgba(67, 143, 241, 0.2);
    width: 200px;
    left: -100%;
    padding: 11px 0;
    text-align: center;
    border-radius: 3px;
    transition: width 5s ease 0.9;
}
.manu-slid:hover{
    background-color: dodgerblue;
    width: 200px;
    
}

.manus2{
    height: 65px;
    width: 86%;
    margin-left: 100px;
    margin-top: 15px;
}


/*--------book-------*/

.view{
    float: right;
    margin-top: -17px;
    background: white;
    color: deepskyblue;
    font-size: 14px;
    padding: 3px 5px;
    border: 1px solid deepskyblue;
}
a:hover{
    text-decoration: none;
}

.center2{
    position: absolute;
    
}
.card2{
    border-radius: 10px;
    background: white;
}
.card2{
    width: 150px;
    height: 270px;
    float: left;
    margin-left: 68px;
    margin-top: 15px;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
} 

.card2 img{
    margin-left: 12px;
}
.card-details2{
    position: absolute;
    bottom: -450px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    transition: 0.3s ease-in-out;
}
.card-title{
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    background: transparent;

}

.card2:hover .card-details2{
    bottom: 0;
}
.card2 button{
    position: relative;
    top: 40%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

}
.card2 .btn{
    position: relative;
    top: 90%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.card2 button:nth-child(1){
    margin: 0px 65px 0px;
    position: sticky;
    width: 100px;
    height: 35px;
    margin-left: 25px;
    background: orange;
    border-radius: 3px;
    border: none;
    transition: transfrom .5s;
}
.card2 button:nth-child(2){
    margin: 0px 65px 0px;
    position: sticky;
    width: 150px;
    height: 35px;
    margin-left: 0px;
    background: dodgerblue;
    border-radius: 3px;
    border: none;
    transition: transfrom .5s;


}


.images{
    height: 150px;
    width: 90%;
    background-color: white;
    margin-left: 100px;
}



.img-bar{
    margin-left: 100px;
}
.img-bar img{
    margin-left: 60px;
}

.roundded{
    margin-left: 100px;
    background: white;
    height: 200px;
    width: 86%;
}
.round{
    float: left;
}
.roun{
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 20px;
}


/*----------subscrive-----*/

.subscrive{
    height: 100px;
    width: 86%;
    margin-left: 100px;
    background: white;
    margin-top: 20px;
}
.subscrive h4{
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}
.subscrive h4 .Offers{
    color: lime;
}

.sub-now{
    text-align: center;
}
.male{
    padding: 3px;
    background-color: white;
    border: 1px solid dodgerblue;
    color: dodgerblue;
}
.female{
    padding: 3px;
    background-color: white;
    border: 1px solid crimson;
    color: crimson;
}

/*-------fottar------*/


.fottar{
    background-color: white;
    height: 500px;
    margin-top: 20px;
    width: 100%;
}

.fottar-main{
    float: left;
    margin-left: 100px;
    padding-top: 20px;
}
h1{
    color: limegreen;
}

.icons{
    margin-top: 20px;
}
.fa-user-tie{
    font-size: 26px;
    margin-right: 10px;
}

.p2{
    margin-left: 90px;
     
}

.fa-envelope{
    font-size: 26px;
    margin-right: 10px;
}
.fa-envelope{
    font-size: 26px;
    margin-right: 10px;
}
.h2{
    padding: 7px;
}
.fottar-main a:hover{
    color: dodgerblue;
}